
$background-main: #464646;
$background-form: #F9EFEF;
$background-main-active: #E4DFDC;
$border-form: #CDC9C6;
$background-login: #D80000;
$color-font-light: #E6E6E6;
$color-font-dark: #111111;
$color-box-shadow: #9D444E;
$color-primary: #D80000;
$color-secundary: #E6E6E6;
$color-secundary-oposite: #111111;

$break-small: 360px;
$break-large: 1200px;

li {
    // border-top-left-radius: 20px;
    // border-top-right-radius: 20px;
    // border-style: solid;
    // border-color: $border-form;
    // border-width: 0.5px;
    font-size: 1.3em;
    font-weight: bold; 
}

li a:hover{
    // border-top-left-radius: 20px;
    // border-top-right-radius: 20px;
    // border-style: solid;
    // border-color: $border-form;
    // border-width: 0.5px;
    // opacity: 0.6;
    transition: 0.3s;
    transform: scale(1.01);
    background-color: $color-primary;
    color: $color-font-light;
    font-size: 1.5em;
}

li a.active {
    // border-top-left-radius: 20px;
    // border-top-right-radius: 20px;
    // border-style: solid;
    // border-color: $border-form;
    // border-width: 0.5px;
    transition: 0.3s;
    transform: scale(1.01);
    background-color: $color-primary;
    color: $color-font-light;
    font-size: 1.5em;
}