<div class="container">
  <div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12 thumbnail max-size">
      <div class="col-md-4">
          <h1>FATURAMENTO</h1>
      </div>
      <div class="col-md-4">
          <h1 class="success">TOTAL R$200,95</h1>
      </div>
      <div class="col-md-4">
          <h1>NOVEMBRO/2018</h1>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr class="active">
            <th class="text-center">Nº Pedido</th>
            <th class="text-center">Valor</th>
            <th class="text-center">Data do pedido</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center success">
            <td>52314</td>
            <td>R$ 50,00</td>
            <td>28/09/1995</td>
          </tr>
          <tr class="text-center success">
            <td>52314</td>
            <td>R$ 50,00</td>
            <td>28/09/1995</td>
          </tr>
          <tr class="text-center success">
            <td>52314</td>
            <td>R$ 50,00</td>
            <td>28/09/1995</td>
          </tr>
          <tr class="text-center success">
            <td>52314</td>
            <td>R$ 50,00</td>
            <td>28/09/1995</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>