
  <div class="container login-box">
    <div class="row">
      <div class="login-box-body">
        <img src="assets/img/logo-small-no-bg.png" class="img-responsive center-block" alt="Responsive image">
        <hr class="light">
        <form class="form" (ngSubmit)="submitForm()">
          <div class="form-group">
            <label for="inputEmail" class="control-label">Usuário</label>
            <div>
              <input type="text" class="form-control input-custom" id="inputEmail">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="control-label">Senha</label>
            <div>
              <input type="password" class="form-control input-custom" id="inputPassword"
              [(ngModel)]="model.password">
            </div>
          </div>
          <p class="text-center">
            <a href="#" class="link">Esqueci minha senha</a>
          </p>
          <div class="form-group">
            <div>
              <a class="btn btn-login btn-block btn-custom">Cadastre-se</a>
              <button type="submit" class="btn btn-login btn-block btn-custom">Entrar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

