<div class="list-group">
  <div>
    <a 
      class="list-group-item" 
      [ngClass]="{ disabled: !ingrediente.ativo }"
      (click)="onSelectIngrediente(ingrediente)">
      <span *ngIf="ingrediente.ativo; else empty;"></span>
      <h4 class="list-group-item-heading">{{ingrediente.descricao}} <span class="label label-primary">{{ingrediente.tipo | titlecase}}</span></h4>
      <h4 class="list-group-item-heading">{{i}}</h4>
      <p class="list-group-item-text">Quantidade em estoque: {{ingrediente.qtdeEstoque}}</p>
    </a>
  </div>
</div>

<ng-template #empty>
    <button (click)="onDeleteItem()" class="btn btn-danger btn-xs pull-right"><span><i class="fas fa-trash-alt"></i>
      Excluir item
      </span></button>
</ng-template>