<div class="container">
  <div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12 thumbnail max-size">
      <h1>ACOMPANHAR PEDIDOS</h1>
      
      <div class="panel panel-default border-red">
        <div class="panel-heading panel-custom text-center">PEDIDOS PENDENTES</div>
        <div class="panel-body">
            <app-sushi-pedidos-ativo></app-sushi-pedidos-ativo>
          </div>
        </div>

      <div class="panel panel-default border-red">
        <div class="panel-heading panel-custom text-center">HISTORICO DE PEDIDOS</div>
        <div class="panel-body">
          <app-sushi-pedidos-historico></app-sushi-pedidos-historico>
        </div>
      </div>
    </div>
  </div>
</div>