$background-main: #FAF5F1;
$background-main-active: #E4DFDC;
$background-login: #D80000;
$color-font-light: #E6E6E6;
$color-font-dark: #111111;
$color-box-shadow: #D80000;

$break-small: 360px;
$break-large: 1200px;

html, body{
  background-color: $background-main !important;
}