<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <h1>PEDIDOS</h1>
        <div class="inner-row">
          <div class="inner-border">
            <p>TEMAKI <span class="pull-right">x2</span></p>
          </div>
        </div>
        <div class="inner-row">
          <div class="inner-border">
            <p>ANDRE</p>
          </div>
        </div>
        <div class="inner-row">
          <div class="inner-border">
            <p>ANDRE</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <h1>ENDEREÇO</h1>
        <div class="list-group">
          <a href="#" class="list-group-item text-right active">
            <h4 class="list-group-item-heading">ENDEREÇO 1</h4>
            <h4 class="list-group-item-text"><i class="fas fa-map-marker-alt pull-left"></i></h4>
            <p class="list-group-item-text">RUA MÉXICO, 269 APTO. 31</p>
            <p class="list-group-item-text">CUBATÃO-SP</p>
            <p class="list-group-item-text">11533-230</p>
          </a>
          <a href="#" class="list-group-item text-right">
            <h4 class="list-group-item-heading">ENDEREÇO 2</h4>
            <h4 class="list-group-item-text"><i class="fas fa-map-marker-alt pull-left"></i></h4>
            <p class="list-group-item-text">RUA URUGUAI, 1450 APTO. 31</p>
            <p class="list-group-item-text">CUBATÃO-SP</p>
            <p class="list-group-item-text">11533-220</p>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <h1>PAGAMENTO</h1>
        <div class="list-group">
          <a href="#" class="list-group-item text-right">
            <h4 class="list-group-item-heading"><i class="far fa-credit-card pull-left"></i>CARTÃO DE CREDITO/DEBITO</h4>
          </a>
          <a href="#" class="list-group-item text-right active">
              <h4 class="list-group-item-heading"><i class="fas fa-money-bill-alt pull-left"></i>DINHEIRO</h4>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>