<form>
    <div class="row">
      <div class="form-group col-md-6 col-xs-12 col-sm-12 ">
        <label for="inputEmail">Nome</label>
        <input type="email" class="form-control input-custom" id="inputName" placeholder="Johnny">
      </div>
      <div class="form-group col-md-6 col-xs-12 col-sm-12">
        <label for="inputEmail">Sobrenome</label>
        <input type="email" class="form-control input-custom" id="inputSurname" placeholder="Smith">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6 col-xs-12 col-sm-12">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control input-custom" id="inputEmail" placeholder="exemplo@exemplo.com">
      </div>
      <div class="form-group col-md-6 col-xs-12 col-sm-12">
        <label for="inputPassword">Senha</label>
        <input type="password" class="form-control input-custom" id="inputPassword" placeholder="sua senha">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6 col-xs-12 col-sm-12">
        <label for="inputEmail">Endereço</label>
        <input type="email" class="form-control input-custom" id="inputAddress" placeholder="Rua Exemplo, 269 - Av Exemplos, 3658">
      </div>
      <div class="form-group col-md-3 col-xs-12 col-sm-12">
        <label for="inputEmail">Número</label>
        <input type="email" class="form-control input-custom" id="inputAddressNumber" placeholder="5324">
      </div>
      <div class="form-group col-md-3 col-xs-12 col-sm-12">
        <label for="inputEmail">Complemento</label>
        <input type="email" class="form-control input-custom" id="inputAddressNumberComplement" placeholder="Bloco A - apt. 55A">
      </div>
    </div>
    <button type="submit" class="btn btn-login btn-custom col-md-2 col-md-offset-10 col-sm-12 col-xs-12">Cadastrar</button>
  </form>