<li class="row">
    <div class="col-md-2">
        <img [src]="comida.img" class="img-responsive" alt="temaki-sushi">
    </div>
    <div class="col-md-6">
        <h3>{{comida.descricao}}</h3>
        <span *ngFor="let ingrediente of comida.ingredientes"class="badge">{{ingrediente.descricao}}</span>
    </div>
    <div class="col-md-4">
        <button class="btn btn-login btn-custom" (click)="onLog()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Adicionar item</button>
    </div>
</li>
