<h1>Gerenciar</h1>
<hr>
<label for="buscaItem">Buscar produto</label>
<div class="inner-addon right-addon">
  <i class="fas fa-search"></i>
  <input type="text" class="form-control input-custom" id="buscaItem" name="buscaItem" placeholder="Digite algo aqui...">
</div>
<hr>

<form [formGroup]="addProdutoForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="ingredienteNome">Nome do produto</label>
    <input 
      type="text" 
      class="form-control input-custom" 
      id="produtoNome"
      formControlName="descricao" 
      placeholder="Temaki" 
      >
  </div>
  <div class="form-group" formArrayName="ingredientes">
    <label 
    for="ingredienteNome">Ingredientes</label>
    <select
      name="ingredientes"
      [disabled]="addProdutoForm.get('tipo').value === 'bebida'"
      class="form-control"
      #ingrediente
      id="produtoIngrediente">
      <option 
        *ngFor="let ingrediente of ingredientes; let i = index"
        [value]="ingrediente._id"
        [ngValue]="ingrediente.descricao"
        >{{ingrediente.descricao}}
      </option>
    </select>
    <h4>
      <span 
        class="badge"
        *ngFor="let ingredienteControl of addProdutoForm.get('ingredientes').controls; let i = index"
        >{{ingrediente.descricao}}
      </span>
    </h4>
    <button 
      type="button" 
      [disabled]="addProdutoForm.get('tipo').value === 'bebida'"
      class="btn btn-primary btn-block" 
      (click)="onAddIngrediente(ingrediente)">Adicionar ingrediente
    </button>
    <button 
      type="button" 
      [disabled]="addProdutoForm.get('tipo').value === 'bebida'"
      class="btn btn-primary btn-block" 
      (click)="onClearIngredients()">Limpar ingrediente
    </button>
  </div>
  <div class="form-group">
    <label for="ingredienteNome">Preço</label>
    <input 
      type="text" 
      class="form-control input-custom" 
      id="produtoPreco" 
      formControlName="preco" 
      placeholder="30" 
      >
  </div>
  <div class="form-group radio-inline">
    <div class="radio" *ngFor="let tipoProduto of tipoProdutos">
      <label>
        <input 
          type="radio" 
          formControlName="tipo" 
          id="radio"
          
          [value]="tipoProduto">{{tipoProduto | titlecase}}
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-login btn-block btn-custom"><span><i class="fas fa-save"></i>
      Salvar item
    </span><i *ngIf="isLoading == true" class="fas fa-circle-notch fa-spin"></i></button>
</form>
<div *ngIf="showSuccessMessage == true" class="alert alert-success text-center" role="alert">{{successMessage}}</div>
<button class="btn btn-primary" (click)="onLog()">LOG</button>
<button class="btn btn-default" (click)="onClear()">LIMPAR</button>